<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>blank page</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style rel="stylesheet">
    </style>
    <script type="application/javascript">
        window.onload = function () {
            this.app = new Vue({
                el: '#app',
                data: {
                    message: 'this is my input content!',
                    msg: 'abc'
                }
            })
        }
    </script>
</head>
<body>
    <div id="app">
        <p>{{ message }}</p>
        <input v-model="message"/>

        <p>{{msg}}</p>
        <input v-model="message" />
    </div>
</body>
</html>
