
**/.idea


**/__pycache__

build/
**/CMakeFiles/
**/cmake_install.cmake
**/CMakeCache.txt
out

build/
cmake_install.cmake
CMakeCache.txt
out

**/cmake_install.cmake
**/CMakeCache.txt
**/Makefile

.vscode


**/Hello
**/Hello


**/codes


**/node_modules
