
{% block header %}
    This is the default header location
{% endblock %}


<section class="left">
    {% block left %}{% endblock %}
</section>


<section class="right">
    {% block right %}
        this is more content
    {% endblock %}
</section>